header {
    width: 100%;
    padding: 10px 0;
    background-color: black;
}

.header-wrapper,
.header-logo,
.navbar,
.user-bar,
.header-link {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.header-wrapper {
    margin: 0 auto;
    justify-content: space-between;
}

.navbar {
    justify-content: space-between;
    padding-right: 20px;
}

.header-logo {
    padding-right: 25px;
}

.header-link {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    justify-content: center;
    transition: all 0.5s;
    padding: 25px;
}


.header-link:hover {
    color: #000;
    background-color: #fff;
}

.header-brand {
    background-image: url('../../images/logo-lg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 250px;
    height: 80px;
}

@media screen and (max-width: 992px) {
    .header-brand {
        background-image: url('../../images/logo-md.png');
        width: 80px;
    }
}

@media screen and (max-width: 768px) {
    .header-wrapper {
        flex-direction: column;
    }
}