.header {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    background-color: black;
}

li {
    display: flex;
    align-items: center;
    margin-left: 3vw;
    color: crimson;
    height: 65px;
}
.header a {
    text-decoration: none;
    display: flex;
    color: crimson;
    align-items: center;
    white-space: nowrap;
}

a {
    text-decoration: none;
}

#user_img {
    height: 30px;
    width: 30px;
}

#logo_img {
    height: 40px;
    width: 40px;
}

#search_img {
    height: 30px;
    width: 30px;
}

#film_search {
    height: 30px;
    outline: none;
}

#balance {
    white-space: nowrap;
}
