header {
    height: 100px;
    width: 100%;
    background-color: black;
}

.header-wrapper {
    width: 98%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.navbar {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-right: 20px;
}

.search-bar {
    width: 50%;
}

.user-bar {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.header-logo {
    margin-right: 25px;
}

.header-link {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: crimson;
    height: 100%;
    width: 100%;
    transition: all 0.5s;
    margin: 0 2px;
}

.header-link:hover {
    color: black;
    background-color: white;
}

.header-search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: crimson;
    height: 100%;
    width: 100%;
}

.header a {
    text-decoration: none;
    display: flex;
    color: crimson;
    align-items: center;
    white-space: nowrap;
}

#logo_img {
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    margin-right: 10px;
}

#film-search {
    height: 30px;
    outline: none;
    width: 100%;
}

#search_img {
    height: 30px;
    width: 30px;
}

#film_search {
    height: 30px;
    outline: none;
}

@media screen and (max-width: 1440px) {
    .navbar {
        width: 40%;
    }
    .search-bar {
        width: 40%;
    }
    .user-bar {
        width: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .navbar {
        width: 50%;
    }
    .search-bar {
        width: 30%;
    }
    .user-bar {
        width: 20%;
    }
}
