.header {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
    display: flex;
    align-items: center;
    background-color: black;
}

li {
    display: flex;
    align-items: center;
    color: crimson;
    height: 65px;
}
a {
    text-decoration: none;

    display: flex;
    margin-left: 3vw;
    color: crimson;
    align-items: center;
    white-space: nowrap;
}

#userImg {
    height: 30px;
    width: 30px;
}

#logoImg {
    height: 40px;
    width: 40px;
}

#searchImg {
    height: 30px;
    width: 30px;
}

#filmsearch {
    margin-left: 2vw;
    height: 30px;
    outline: none;
}

#balance {
    white-space: nowrap;
}
