.filmComment {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.filmComment .container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.commentSection {
    display: flex;
}

#addComment {
    width: 80%;
    height: 20vh;
    margin-left: 20px;
}

.commentP {
    text-align: center;
    font-size: x-large;
}

#addCommentBtn {
    margin-bottom: 2vh;
    margin-top: 5vh;
    width: 15%;
    margin-left: 1%;
    height: 10vh;
}
