@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.App {
    background: rgb(46, 46, 46)
}

.container {
    max-width: 1600px;
    padding: 0 15px;
    margin: 0 auto;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
