.comment-block {
    background: rgb(46, 46, 46);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
    display: flex;
}

.avatar {
    height: 60px;
    width: 60px;
}

.comment-content {
    max-width: calc(100% - 60px);
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}

.author {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

.login {
    padding-right: 15px;
    font-size: 1.1em;
    color: #007bff;
    margin: 0;
}

.date {
    font-size: 0.9em;
    color: #cacccd6b;
}

.comment {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 10px;
}

.comment-text {
    color: #cacccd;
    width: 100%;
    word-wrap: break-word;
}
