.rating-area {
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    width: 225px;
    margin: 0;
    margin-left: 10px;
}
.rating-area:not(:checked) > input {
    display: none;
}
.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 32px;
    line-height: 32px;
    color: lightgrey;
    text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
    content: '★';
}
.rating-area > input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: gold;
    text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
    position: relative;
}

.Filmpage {
    background-color: gray;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    border-style: double;
    border-color: red;
    border-width: 10px;
}

.Filmpage h1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.titleImg {
    width: 40vw;
    height: 40vw;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}
.filmdesc {
    padding-left: 20px;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    border-top: 2px solid red;
    border-left: 2px solid red;
}
.filmdesc p {
    font-weight: bold;
}
.filmdesc > div {
    margin-bottom: 10px;
}

.filmRate {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 100px;
}

.filmRate p {
    margin: 0;
    margin-top: 8px;
    margin-right: 5px;
}

.yourRate {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.star {
    width: 42px;
    line-height: 42px;
    padding: 0;
    font-size: 32px;
    line-height: 32px;
    text-shadow: 1px 1px #bbb;
}
.star::before {
    content: '★';
    color: gold;
}

.rate {
    line-height: 42px;
}

.filmdesc .desc {
    background-color: rgb(104, 103, 103);
    margin-right: 20px;
}

a.disabled {
    color: black;
    pointer-events: none;
}
.buttonsMenu a:visited {
    color: black;
}
.watch {
    opacity: 0.6;
    white-space: nowrap;
    position: relative;
    width: 120px;
    height: 40px;
    background-color: whitesmoke;
}

.watchroom {
    height: 40px;
}
.watch p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translate(0, -50%);
}
.buttonsMenu {
    display: flex;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.buttonsMenu button {
    margin-right: 30px;
    font-size: 17px;
    width: 120px;
    height: 41px;
}
.Filmpage h1 {
    margin-left: 20px;
}

.desc {
    padding: 7px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

.filmComment {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    grid-column-start: 1;
    grid-column-end: 3;
    border-style: solid;
    border-color: red;
    border-width: 1px;
}

.filmComment .container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.commentSection {
    display: flex;
}

#addComment {
    width: 80%;
    height: 20vh;
    margin-left: 20px;
}

.commentP {
    text-align: center;
    font-size: x-large;
}

#addCommentBtn {
    margin-bottom: 2vh;
    margin-top: 5vh;
    width: 15%;
    margin-left: 1%;
    height: 10vh;
}
